@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;400&display=swap");

/* rgb(15, 164, 201) */

.App {
  text-align: center;
  /* background-color: #df99f0ce; */
  background-color: rgb(170, 213, 216);

  align-items: center;
  justify-content: center;
}

.cardCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

  /* align-items: center;
  justify-content: center; */
}
