@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200;400&display=swap");

.App {
  text-align: center;
  background-color: rgb(15, 164, 201);
  align-items: center;
  justify-content: center;
}

.cardCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
